body {
    background: url(https://uploads-ssl.webflow.com/5b4db226e11a7804a90280d7/5b76ac554f242f94fff0ba5e_DSC_8924%20copy%202.jpg);
        background-color: rgb(87, 87, 87);
        background-blend-mode: multiply;
    background-size: cover;
    background-position: center;

    font-family: Open Sans;
    color: white;

}

html {
    height: 100%;
}

#content {
    text-align: center;
    padding-top: 30%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0,0.1),
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 400px;
    boarder-top: 1px solid #f8f8f8;
    boarder-bottom: 1px solid rgba(0,0,0,0.2);
}